<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
<title>Lunch check</title>
  </head>
  <body >
<div ng-controller="LunchCheckController">
   <div>
  <input type="text" ng-model="items">
</div>

    <div>
  <button ng-click="checkLunch()"> Check if too much </button>
</div>

<div id="display_message">{{message}}
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
